<% @addresses = current_user ? current_user.addresses : [] %>
<% if @addresses.present? %>
<div class="select_address">
  <p class="field">    
    <% @addresses.each_with_index do |address, idx| %>
      <span id="<%= dom_id(address) %>">
        <label>
          <%= radio_button_tag "order[#{address_type}_address_id]", address.id, (idx == 0) %>
          <%= address %>
        </label>
        <%= link_to t(:edit), edit_address_path(address) %><br />
      </span>
    <% end %>
    <label><%= radio_button_tag "order[#{address_type}_address_id]", 0 %> <%= t('other_address') %></label>
  </p>
</div>
<% end %>
